<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <remove name="X-Content-Type-Options" />
        <remove name="Referrer-Policy" />
        <remove name="X-AspNet-Version" />
        <remove name="x-aspnet-version" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, X-Forwarded-For, Accept, Authorization, token, captcha_key, captcha_val" />
         <add name="Access-Control-Max-Age" value="1728000" />
         <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Origin" value="*" />
         <add name="Access-Control-Allow-Methods" value="GET, POST,HEAD,OPTIONS" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="x-Frame-Options" value="SAMEORIGIN" />
       <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000;preload;includeSubDomains" />
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".webp" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".dat" />
      <remove fileExtension=".wasm" />
      <remove fileExtension=".js" />
              <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
       <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
       <mimeMap fileExtension=".webp" mimeType="image/webp" />
       <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>
    		<rewrite>
        <rules>
          <rule name="Spa Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/sara10/" />
          </rule>
        </rules>
      </rewrite>
  </system.webServer>
</configuration>
