<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-POWERED-BY" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".webp" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".dat" />
      <remove fileExtension=".wasm" />
      <remove fileExtension=".js.gz" />
      <remove fileExtension=".dat.gz" />
      <remove fileExtension=".json.gz" />
      <remove fileExtension=".wasm.gz" />
      <remove fileExtension=".blat.gz" />
      <remove fileExtension=".css.gz" />
      <remove fileExtension=".ico.gz" />
      <remove fileExtension=".svg.gz" />
      <remove fileExtension=".js.br" />
      <remove fileExtension=".dat.br" />
      <remove fileExtension=".json.br" />
      <remove fileExtension=".wasm.br" />
      <remove fileExtension=".blat.br" />
      <remove fileExtension=".css.br" />
      <remove fileExtension=".ico.br" />
      <remove fileExtension=".svg.br" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
       <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
       <mimeMap fileExtension=".webp" mimeType="image/webp" />
       <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
       <mimeMap fileExtension=".js.gz" mimeType="application/javascript" />
       <mimeMap fileExtension=".dat.gz" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".json.gz" mimeType="application/json" />
       <mimeMap fileExtension=".wasm.gz" mimeType="application/wasm" />
       <mimeMap fileExtension=".blat.gz" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".css.gz" mimeType="text/css" />
       <mimeMap fileExtension=".ico.gz" mimeType="image/x-icon" />
       <mimeMap fileExtension=".svg.gz" mimeType="image/svg+xml" />
       <mimeMap fileExtension=".js.br" mimeType="application/javascript" />
       <mimeMap fileExtension=".dat.br" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".json.br" mimeType="application/json" />
       <mimeMap fileExtension=".wasm.br" mimeType="application/wasm" />
       <mimeMap fileExtension=".blat.br" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".css.br" mimeType="text/css" />
       <mimeMap fileExtension=".ico.br" mimeType="image/x-icon" />
       <mimeMap fileExtension=".svg.br" mimeType="image/svg+xml" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
     <httpCompression directory="%TEMP%\\iisexpress\\IIS Temporary Compressed Files">
           <scheme name="gzip" dll="%Windir%\system32\\inetsrv\\gzip.dll" />
           <staticTypes>
             <add mimeType="text/*" enabled="true" />
             <add mimeType="message/*" enabled="true" />
             <add mimeType="application/javascript" enabled="true" />
             <add mimeType="application/json" enabled="true" />
             <add mimeType="*/*" enabled="false" />
           </staticTypes>
         </httpCompression>
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Add Vary Accept-Encoding" preCondition="PreCompressedFile" enabled="true">
          <match serverVariable="RESPONSE_Vary" pattern=".*" />
          <action type="Rewrite" value="Accept-Encoding" />
        </rule>
        <rule name="Add Encoding Brotli" preCondition="PreCompressedBrotli" enabled="true" stopProcessing="true">
          <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
          <action type="Rewrite" value="br" />
        </rule>
        <rule name="Add Encoding Gzip" preCondition="PreCompressedGzip" enabled="true" stopProcessing="true">
          <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
          <action type="Rewrite" value="gzip" />
        </rule>
        <preConditions>
          <preCondition name="PreCompressedFile">
            <add input="{HTTP_URL}" pattern="\.(gz|br)$" />
          </preCondition>
          <preCondition name="PreCompressedBrotli">
            <add input="{HTTP_URL}" pattern="\.br$" />
          </preCondition>
          <preCondition name="PreCompressedGzip">
            <add input="{HTTP_URL}" pattern="\.gz$" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <rules>
        <rule name="Serve subdir" enabled="true">
                  <match url=".*" />
                  <action type="Rewrite" url="{R:0}" />
                </rule>
        <rule name="Rewrite brotli file" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_ACCEPT_ENCODING}" pattern="br" />
            <add input="{REQUEST_FILENAME}.br" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.br" />
        </rule>
        <rule name="Rewrite gzip file" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />
            <add input="{REQUEST_FILENAME}.gz" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.gz" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
