<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
   <sessionState cookieless="UseCookies" cookieName="ASP.NET_SessionId" cookieSameSite="Strict" timeout="200" />
<httpCookies httpOnlyCookies="true" sameSite="Strict" requireSSL="true" />

		  <trace enabled="false" localOnly="true" />
	    <customErrors mode="On" defaultRedirect="/SafaError.html">
		    <error statusCode="400" redirect="/SafaError.html" />
			<error statusCode="401" redirect="/SafaError.html" />
			<error statusCode="403" redirect="/SafaError.html" />
			<error statusCode="404" redirect="/SafaError.html" />
			<error statusCode="500" redirect="/SafaError.html" />
			<error statusCode="429" redirect="/SafaError.html" />
			<error statusCode="400" redirect="/SafaError.html" />
			<!-- <error statusCode="301" redirect="/SafaError301.html" />   -->
		</customErrors>
        <identity impersonate="false" />
	<compilation debug="false" />
	<httpRuntime enableVersionHeader="false" />
	<pages viewStateEncryptionMode="Always" />


  </system.web>

    <system.webServer>


	<directoryBrowse enabled="false" />

	 <handlers accessPolicy="Read, Script"> </handlers>

	  <rewrite>
      <outboundRules>
        <rule name="Remove Server Header" enabled="true">
          <match serverVariable="RESPONSE_Server" />
          <action type="Rewrite" value="SafaRayaneh" />
        </rule>

		 <rule name="Remove Server Header2" enabled="true">
          <match serverVariable="RESPONSE_X-AspNet-Version" />
          <action type="None" value="" />
        </rule>



      </outboundRules>
    </rewrite>

			<httpProtocol>
			<customHeaders>
        <clear />
				 <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, X-Forwarded-For, Accept, Authorization, token, captcha_key, captcha_val" />
				 <add name="Access-Control-Max-Age" value="1728000" />
				 <add name="Access-Control-Allow-Credentials" value="true" />
				<add name="Access-Control-Allow-Origin" value="afta.safarayaneh.com" />
				 <add name="Access-Control-Allow-Methods" value="GET, POST,HEAD,OPTIONS" />
				 <!-- <add name="content-security-policy" value="default-src'self';" />   -->
				 <!-- <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'nonce-random123'; object-src 'none'; style-src 'self'';" />				  -->
				 <!-- <add name="Content-Security-Policy" value="base-uri 'self'; default-src 'self' https://fonts.gstatic.com  -->
<!-- https://fonts.googleapis.com; script-src 'self' https://afta.safarayaneh.com 'nonce-3cSE6nsJp8ZTKdTJoyNJkwZgyrf84SGXBrMM0gB785Y'; style-src 'self' 'unsafe-inline' data:; font-src  'self' https://fonts.gstatic.com data:;" />	 -->
				<add name="X-Content-Type-Options" value="nosniff" />
				  <add name="x-Frame-Options" value="SAMEORIGIN" />
				 <add name="X-XSS-Protection" value="1; mode=block" />
				<add name="Strict-Transport-Security" value="max-age=31536000;preload;includeSubDomains" />
				<add name="Referrer-Policy" value="no-referrer" />
				<add name="X-Permitted-Cross-Domain-Policies" value="none" />
				<remove name="X-Powered-By" />
				<remove name="X-Content-Type-Options" />
				<remove name="Referrer-Policy" />
				<remove name="X-AspNet-Version" />
				<remove name="x-aspnet-version" />

				<add name="Cache-Control" value="no-cache" />


			</customHeaders>
		</httpProtocol>

		<urlCompression doStaticCompression="true" />

		<staticContent>
        <remove fileExtension=".js" />
        <mimeMap fileExtension=".js" mimeType="text/javascript" />
		<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
    </staticContent>

    <httpCompression
        directory="C:\inetpub\temp\IIS Temporary Compressed Files">
        <scheme name="gzip" dll="C:\Windows\system32\inetsrv\gzip.dll" />
        <staticTypes>
          <add mimeType="text/css" enabled="true" />
          <add mimeType="text/javascript" enabled="true" />
       </staticTypes>
    </httpCompression>

	 <!-- <httpProtocol> -->
      <!-- <customHeaders> -->
	   <!-- <remove name="X-Powered-By" /> -->
		<!-- <remove name="X-Content-Type-Options" /> -->
		<!-- <remove name="Referrer-Policy" />	  -->

<!-- <remove name="X-AspNet-Version" /> -->
<!-- <remove name="x-aspnet-version" /> -->

      <!-- </customHeaders> -->

    <!-- </httpProtocol> -->

      <httpErrors errorMode="Custom">

      <remove statusCode="429" subStatusCode="-1" />
      <error statusCode="429" prefixLanguageFilePath="" path="/404.htm" responseMode="ExecuteURL" />
       <remove statusCode="400" subStatusCode="-1" />
       <error statusCode="400" prefixLanguageFilePath="" path="/404.htm" responseMode="ExecuteURL" />
       <remove statusCode="401" />
       <error statusCode="401" path="/404.htm" />
       <remove statusCode="403" subStatusCode="-1" />
       <error statusCode="403" path="/404.htm" responseMode="ExecuteURL" />
       <remove statusCode="404" subStatusCode="-1" />
       <error statusCode="404" path="/401.htm" responseMode="ExecuteURL" />
       <remove statusCode="500" subStatusCode="-1" />
       <error statusCode="500" path="/401.htm" responseMode="ExecuteURL" />
       <remove statusCode="503" subStatusCode="-1" />
       <error statusCode="503" path="/404.htm" responseMode="ExecuteURL" />
	   <remove statusCode="405" subStatusCode="-1" />
       <error statusCode="405" path="/401.htm" responseMode="ExecuteURL" />
	  	     <!-- <remove statusCode="301" subStatusCode="-1" />    -->
         <!-- <error statusCode="301" path="/301.htm" responseMode="ExecuteURL" />   -->
    </httpErrors>


       <!-- <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument> -->


    </system.webServer>

</configuration>
